In [1]:
#1 --- imports
import pandas as pd
import numpy as np
import seaborn as sns

In [8]:
#2 --- make dataframe
df = pd.read_csv("cyberbullying.csv")
df.head()

                                          tweet_text cyberbullying_type
0  In other words #katandandre, your food was cra...  not_cyberbullying
1  Why is #aussietv so white? #MKR #theblock #ImA...  not_cyberbullying
2  @XochitlSuckkks a classy whore? Or more red ve...  not_cyberbullying
3  @Jason_Gio meh. :P  thanks for the heads up, b...  not_cyberbullying
4  @RudhoeEnglish This is an ISIS account pretend...  not_cyberbullying

In [9]:
#3 --- make column with words

# Assuming your DataFrame is named df
# Replace 'your_dataframe' with your actual DataFrame name

df['words'] = df['tweet_text'].apply(lambda x: x.split())

In [10]:
#4 --- makes column with individual characters
df['characters'] = df['tweet_text'].apply(list)

In [11]:
#5 --- Most common letter

def get_top_characters(text):
    # Removing spaces from the text
    text = text.replace(" ", "")
    
    # Counting the occurrences of each character
    char_counts = {}
    for char in text:
        char_counts[char] = char_counts.get(char, 0) + 1
    
    # Sorting the characters by count in descending order
    sorted_chars = sorted(char_counts, key=char_counts.get, reverse=True)

    # Getting the 5 most common characters
    top_characters = sorted_chars[:5]

    # If there are less than 5 unique characters, padding with spaces
    top_characters += [' '] * (5 - len(top_characters))

    return top_characters

# Applying the function to each row of the 'tweet_text' column
df['top_letters'] = df['tweet_text'].apply(lambda x: get_top_characters(x))

In [ ]:
for taco in range(len(df['top_letters'])):
    print(df['top_letters'][taco][0],
          df['top_letters'][taco][1],
          df['top_letters'][taco][2],
          df['top_letters'][taco][3],
          df['top_letters'][taco][4],df['cyberbullying_type'][taco])

In [ ]:
df['cyberbullying_type'].unique()

In [ ]:
#-----------------------------------------------------------------------------------

In [ ]:
# Function to calculate Euclidean distance between two points
euclidean_distance = lambda p1, p2: np.sum(np.array(p1) != np.array(p2))

# Function to implement K-nearest neighbor algorithm
def k_nearest_neighbors(training_data, test_instance, k):
    distances = sorted((euclidean_distance(test_instance, f), t) for f, t in df[['top_letters', 'cyberbullying_type']].values)[:k]

    class_votes = {t: sum(1 for _, target in distances if target == t) for _, t in distances}

    return max(class_votes, key=class_votes.get)

In [ ]:
# Convert letters to numerical features (binary representation)
unique_characters = set(char for sublist in df['top_letters'] for char in sublist)
for char in unique_characters:
    df[char] = df['top_letters'].apply(lambda x: 1 if char in x else 0)

# Sample test instance
test_instance = [1 if char in ['a', 'b', 'c', 'd', 'e'] else 0 for char in unique_characters]
k=1

In [ ]:
# repeat

In [ ]:
#--------------

In [ ]:
# Function to calculate Euclidean distance between two points
euclidean_distance = lambda p1, p2: np.sum(np.array(p1) != np.array(p2))

# Function to implement K-nearest neighbor algorithm
def k_nearest_neighbors(training_data, test_instance, k):
    distances = sorted((euclidean_distance(test_instance, f), t) for f, t in df[['top_letters', 'cyberbullying_type']].values)[:k]

    class_votes = {t: sum(1 for _, target in distances if target == t) for _, t in distances}

    return max(class_votes, key=class_votes.get)

# Convert letters to numerical features (binary representation)
unique_characters = set(char for sublist in df['top_letters'] for char in sublist)
for char in unique_characters:
    df[char] = df['top_letters'].apply(lambda x: 1 if char in x else 0)

# Sample test instance
test_instance = [1 if char in ['a', 'b', 'c', 'd', 'e'] else 0 for char in unique_characters]
k=1

In [ ]:
df.head()

In [ ]:
#unique letters
uniquewords=df['characters'].explode().unique()
uniquewords

In [ ]:
len(uniquewords)

In [ ]:
#
for taco in range(len(df['words'])):
    for burrito in range(len(df['words'][taco])):
        x=1

In [ ]:
unique_words_df = pd.DataFrame({'word': df['words'].explode().unique()})
unique_words_df['word_number'] = range(1, len(unique_words_df) + 1)

# Merge the original DataFrame with the unique word DataFrame
df = df.merge(unique_words_df, left_on='words', right_on='word', how='left')

# Drop unnecessary columns and reset index
df = df.drop(['word', 'words'], axis=1).sort_values(by=['tweet_text']).reset_index(drop=True)

In [ ]:
#-----------------------------------------------------

In [ ]:
#activation function
def activ(a):
    e=2.718281828459045235360287471352
    if a>18.715:
        1
    elif a<-18.715:
        -1
    else:
        activ_temp_1=(e**(a)-e**(-a))/(e**(a)+e**(-a))
    return activ_temp_1

In [ ]:
input("what? ")

In [ ]:
x=input("Gimme a number: ")

for taco in range(100):
    x=x*x-x
    print(x)