In [1]:
#1
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
#2
df = pd.read_csv("train.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [9]:
#3
def trainModel(df):
    qu=sum(df["OverallQual"])/len(df["OverallQual"])
    gr=sum(df["GrLivArea"])/len(df["GrLivArea"])
    pr=sum(df["SalePrice"])/len(df["SalePrice"])
    qus=sum(df["SalePrice"]/df["OverallQual"])/len(df["SalePrice"]/df["OverallQual"])
    grs=sum(df["SalePrice"]/df["GrLivArea"])/len(df["SalePrice"]/df["GrLivArea"])
    
    
    
    
    
    
    return qu

#4
trainModel(df)

6.0993150684931505

6.0993150684931505

In [ ]:
df.info()
#Overallqual
#GrLivAre
#both fit the data the best

In [ ]:
sns.scatterplot(data=df, x="OverallQual", y = "SalePrice", hue="GrLivArea")

In [ ]:
sns.scatterplot(data=df, x="GrLivArea", y = "SalePrice", hue="OverallQual")

In [ ]:
sns.histplot(data=df, x="OverallCond", y = "SalePrice", bins=9)

In [ ]:
#sorting stuff
list=(df["YearBuilt"])
list.unique()

#list.sort()

#for taco in range(len(list.unique())):
#    list[taco]=list[1]

In [ ]:
lost=df["YearBuilt"]
p1=""
for taco in range(len(lost)):
    p1+=(str(lost[taco]))
    p1+=","

In [ ]:
lost2=df["SalePrice"]
p2=""
for taco in range(len(lost2)):
    p2+=(str(lost2[taco]))
    p2+=","

In [ ]:
lost3=df["YrSold"]
p3=""
for taco in range(len(lost3)):
    p3+=(str(lost3[taco]))
    p3+=","
#p3

lost3.unique()

In [ ]:
p2

In [ ]:
#Overallqual
#GrLivAre
#both fit the data the best

In [ ]:
list

In [ ]:
#split list into subsections

In [ ]:
data['Id'].mean()

In [ ]:
(data['SalesPrice']/data['LotArea']).mean()

In [ ]:
def trainModel(trainDF):
    
    
    return x